@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

:root { /* :root - имеет высший приоритет, чем html (но смысл работы одинаков)*/
  --color-main: #eedb00;
  --bg-color-drey: rgba(60, 69, 67, 0.6);
  --bg-color-red: rgba(240, 3, 35, 0.5);
}

body {
  font-family: 'Poller One', sans-serif;
  background-image: url("../images/sky.jpg");
  color: var(--color-main);
  background-attachment: fixed; /* Фон не прокручивается вместе со страницей */
}

/* HEADER */
header, footer {
  background-color: var(--bg-color-drey);
}

/* MAIN */
.float-start {
  box-shadow: 10px 10px 10px #556865;
}

.far-galaxy {
  letter-spacing: 0.1em; /* Расстояние между буквами */
  text-align: justify; /* Выравнивание теста по ширине */
}

.rounded-bottom-left {
  border-bottom-left-radius: 2.5rem;
}

.rounded-bottom-right {
  border-bottom-right-radius: 2.5rem;
}

/* FOOTER */
footer {
  height: 5rem;
}

.btn-danger {
  background-color: var(--bg-color-red);
  color: var(--color-main);
}