@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

* {
  margin: 0;
}

body {
  font-family: 'Poller One', sans-serif;
  background-image: url("../images/sky.jpg");
  color: #eedb00;
  background-attachment: fixed; /* Фон не прокручивается вместе со страницей */
  margin: 8px;
}

header, footer {
  background-color: rgba(60, 69, 67, 0.6);
}

header {
  border-radius: 15px 15px 0 0;
}

/* Стили для навигации (NAV) */
nav {
  position: fixed;
  top: 5px;
  left: 40px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 0.5em 0.6em;
  margin: 1.5em 0 0 0.6em;
  font-size: 1.2em;
  color: white;
  background-color: rgba(165, 0, 28, 0.7);
  border-radius: 20px;
  cursor: pointer; /* Курсор в виде руки при наведении на кнопку */
  text-align: center;
}

/* Стили для заголовка (H1) */
h1 {
  text-align: center;
  font-size: 3em; /* это три размера шрифта родителя - 16px x 3em = 48px */
  padding: 0.5em; /* это половина размера шрифта родителя */
}

.left {
  float: left;
  width: 25%;
  margin: 0.3rem 1.2rem 0 0;
  /*filter: drop-shadow(0.6rem 0.6rem 0.6rem gray); !* Добавление тени к изображению *!*/
}

.right {
  float: right;
  width: 50%;
  border: 1px solid #eedb00;
  border-radius: 0 0 15px 15px;
  /*margin: 0.3rem 0 0 0.6rem;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /* Равномерное распределение элементов по горизонтали */
}

/* Стили для заголовка (H2) */
h2 {
  flex-basis: 100%;
  text-align: center;
  font-size: 1.5em;
}

.cell {
  width: 33%;
}

.cell img {
  border-radius: 15px;
}

.left img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 10px 10px 10px #556865;
}

.far-galaxy {
  font-size: 1.8em;
  letter-spacing: 0.1em;
  line-height: 1.5;
  text-align: justify; /* Выравнивание теста по ширине */
}

footer {
  clear: both;
  height: 6em;
  border-radius: 0 0 15px 15px;
}

.button {
  display: inline-block;
  padding: 0.5em 0.6em;
  margin: 1.5em 0 0 20em;
  font-size: 1.2em;
  color: white;
  background-color: rgba(165, 0, 28, 0.7);
  border-radius: 20px;
  cursor: pointer; /* Курсор в виде руки при наведении на кнопку */
  text-align: center;
}